*{
    font-family: Helvetica, sans-serif
}
.bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.description{
    text-align: center;
}
#outputTable{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
tr, td, th{
    text-align: center;
    padding: 20px;
}


@media only screen and (max-width: 480px) {
   
    
}